@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: sans-serif; */
  font-family: "Roboto", sans-serif;
}

.tab {
  padding: 6px 12px;
  cursor: pointer;
  /* more styles */
}

.tab-active {
  border-bottom: 2px solid blue;
  /* more styles */
}

.bubble {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  margin-right: 8px;
  border-radius: 9999px;
  /* to create bubble shape */
  background-color: #282525;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.bubble-active {
  background-color: #7B1450;
  color: white;
  border-color: #7B1450;
  /* border set when selected */
}


.focus-custom-border:focus {
  border-color: #7B1450 !important;
}

.dropdown-menu {
  border-radius: 20px;
  /* Adjust this value to increase or decrease the curvature */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* Ensures the dropdown background is white */
  width: auto;
  /* Adjust width as needed */
  color: black;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 10px 20px;
  /* Adjust padding for better visual spacing */
  border-radius: 20px;
  /* Apply rounded corners to each item */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  /* Light grey hover effect */
  color: black;
  /* Ensure text does not turn blue */
}

.tag {
  display: inline-block;
  background-color: #ececec;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  margin-bottom: 12px;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  margin-left: 10px;
}

.nav-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px; /* space-x-5 equivalent */
  width: 100%;
  padding: 8px 16px; /* px-4 py-2 equivalent */
  margin-bottom: 12px; /* mb-3 equivalent */
  border-radius: 8px; /* rounded-lg equivalent */
  background-color: var(--bg-darker-color); /* adjust your color variable as needed */
  color: grey; /* default text color */
  font-weight: bold; /* font-semibold equivalent */
  text-decoration: none; /* removes underline */
  box-shadow: var(--shadow-nav); /* adjust your shadow variable as needed */
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  color: white; /* text color on hover and active */
  box-shadow: var(--hover-shadow-nav-inner); /* adjust your hover shadow variable as needed */
  text-decoration: none; /* ensures no underline on hover */
}
