@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 10px;
  font-family: sans-serif;
}

.tab {
  padding: 6px 12px;
  cursor: pointer;
  /* more styles */
}

.tab-active {
  border-bottom: 2px solid blue;
  /* more styles */
}