@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 10px;
  font-family: sans-serif;
}

.tab {
  padding: 6px 12px;
  cursor: pointer;
  /* more styles */
}

.tab-active {
  border-bottom: 2px solid blue;
  /* more styles */
}

.bubble {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 9999px;
  /* to create bubble shape */
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.bubble-active {
  background-color: #7B1450;
  color: white;
  border-color: #7B1450;
  /* border set when selected */
}


.focus-custom-border:focus {
  border-color: #7B1450 !important;
}

.dropdown-menu {
  border-radius: 20px;
  /* Adjust this value to increase or decrease the curvature */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* Ensures the dropdown background is white */
  width: auto;
  /* Adjust width as needed */
  color: black;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 10px 20px;
  /* Adjust padding for better visual spacing */
  border-radius: 20px;
  /* Apply rounded corners to each item */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  /* Light grey hover effect */
  color: black;
  /* Ensure text does not turn blue */
}

.tag {
  display: inline-block;
  background-color: #ececec;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  margin-left: 10px;
}