  body, html {
    height: 100%;
  }
  .home-title {
    text-align: center;
    font-size: 3em; /* Adjust size as needed */
    margin-bottom: 20px; /* Add some space below the title */
    font-weight: bold; /* Make the text bold */
  }

  .movie-list {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Add this line */
  }
  
  .movie-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .movie-text {
    margin-left: 20px;
  }
  .movie-item h3 {
    color: black;
  }
  
  .movie-item p {
    color: gray;
  }
  .movie-item:last-child {
    margin-bottom: 0; /* Remove the bottom margin from the last movie item */
  }
  
  .movie-item img {
    margin-right: 20px;
  }
  .homepage {
    /* Your styles for the homepage layout */
    display: flex;
    justify-content: space-between;
    min-height: 100%; /* Set minimum height to 100% of the viewport height */
  }
  
  .homepage .favourites {
    flex: 1;
    margin-right: 5%; /* Move more to the left */
  }
  
  .homepage .watch-more {
    flex: 1;
    margin-left: 5%; /* Move more to the right */
  }
  
  .content-sections {
    display: flex;
    justify-content: space-between;    
    position: relative;
    top: 40px;
  }
  
  .favourites {
    width: 60%; /* Reduced width */
    margin-right: 5%; /* Reduced margin */
    margin-left: 5%; /* Increased left margin */
  }
  
  .favourites h1 {
    font-weight: bold; /* Make the text bold */
    font-size: 2em; /* Increase the font size */
  }
  
  .to-watch {
    width: 60%; /* Reduced width */
    margin-left: 5%; /* Reduced margin */
    margin-right: 5%; /* Increased right margin */
  }
  
  .to-watch h1 {
    font-weight: bold; /* Make the text bold */
    font-size: 2em; /* Increase the font size */
  }

  .rating-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }